:root {
    --color-green: #0C3C3B;
    --color-yellow:#FFC53E;
    --color-black: #171717;
    --color-white: #F9F3F1;
    --fontSize-p: 1em;
    --fontSize-h1: 3.8125em;
    --fontSize-h2: 3.0625em
    --fontSize-h3: 2.4375rem;
    --fontSize-h4: 1.9375rem;
}

